<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Articles from feedly</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="/javascript/article.js"></script>
    <link href="/css/style.css" rel="stylesheet">


    <script type="text/template" id="table_template">
        <table class="table bordered highlight responsive-table" id="article_table">
            <thead>
            <tr>
                <th>website</th>
                <th>title</th>
                <th>subscribers</th>
                <th>score</th>
            </tr>
            </thead>
            <tbody>
            <% _.each(articles, function (article) { %>
            <tr>
                <td><%= article.get('website')%></td>
                <td><%= article.get('title')%></td>
                <td><%= article.get('subscribers')%></td>
                <td><%= article.get('score')%></td>
            </tr>
            <% }); %>
            </tbody>
        </table>
    </script>

</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-form" onsubmit="loadArticles(); return false;" action="#">
            <div class="form-group" style="display:inline;">
                <div class="input-group" id="custom-search-input">
                    <input type="text" id="search_box" class="form-control">
                    <span class="input-group-addon" onclick="loadArticles()">
                        <span class="glyphicon glyphicon-search"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row" id = "wrapper" align="center">

    </div>
</div>
<script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type = "text/javascript" src = "https://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.4/underscore-min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.29.4/js/jquery.tablesorter.min.js"></script>
<script type = "text/javascript" src = "https://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $("#search_box").keypress(function (e) {
        if(e.which == 13) {
            loadArticles()
        }
    })
</script>
</body>
</html>